[user]
    name = 09fl
    email = 6722817+09fl@users.noreply.github.com
    signingkey = ~/.ssh/id_ed25519
[commit]
    gpgsign = true
[gpg]
    format = ssh
[init]
    defaultBranch = master
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    unstage = reset HEAD --
[help]
    autocorrect = true
[diff]
    algorithm = histogram
[push]
    autoSetupRemote = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
